include ../anchor/_anchor
include ../icon/_icon
include ../label/_label
include ../ribbons/_ribbons

mixin portrait(data)
  .gfrds_portrait(class=data.modifiers)
    +anchor({name: data.id})
    .gfrds_wrapper
      .gfrds_portrait-header
        +label(data.label)
        h2.gfrds_portrait-title= data.title
      .gfrds_portrait-content
        .gfrds_portrait-content-col
          .gfrds_portrait-embed
            iframe(class="instagram-media instagram-media-rendered" data-original=data.embed + "embed/?cr=1&amp;v=7" allowtransparency="true" scrolling="no" frameborder="0" height="554")
          if data.place
            .hidden-on-small
              .gfrds_portrait-place
                +icon({icon: 'marker'})
                .gfrds_portrait-place-text= data.place.join('<br />')
        .gfrds_portrait-content-col
          .gfrds_portrait-text!= data.text
          if data.place
            .only-on-small
              .gfrds_portrait-place
                +icon({icon: 'marker'})
                .gfrds_portrait-place-text= data.place.join('<br />')
          .gfrds_portrait-share
            h3.gfrds_portrait-share-title= data.share.title
            ul.gfrds_portrait-share-items
              each item in data.share.items
                li.gfrds_portrait-share-item: a(href=item.href)
                  +icon({icon: item.icon})
    .gfrds_portrait-ribbons
      +ribbons({"modifiers": ["borders-only"]})
