include ../anchor/_anchor
include ../icon/_icon

mixin intro(data)
  .gfrds_intro(class=data.modifiers)
    +anchor({name: data.id})
    .gfrds_wrapper
      .gfrds_intro-content
        +icon({icon: 'scrolldown'})
        h2.gfrds_intro-title= data.title
        .gfrds_intro-text
          each p in data.text
            p!= p
        if data.social
          .gfrds_intro-social
            h3.gfrds_intro-social-title= data.social.title
            ul.gfrds_intro-social-items
              each s in data.social.items
                li.gfrds_intro-social-item
                  a(href=s.href target="_blank")
                    +icon({icon: s.icon})
                    .hidden-accessibly= s.name
